#main-content
{
    min-height: 700px;
}
#homePage
{
    text-align: center;
    margin-bottom: 0;
}
#homePage button
{
    margin-top: 25px;
}
#socialLinks
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
.facebook
{
    height: 54px;
    width: 54px;
}
.twitter
{
    height: 54px;
    width: 54px;
}
.linkedin
{
    height: 54px;
    width: 54px;
}
#blogSection
{
    text-align: center;
    width: 55%;
    margin: auto;
}
#blogSection h1
{
    margin-top: 50px;
    margin-bottom: 50px;
}
#blogSection h2 a
{
    color: white;
}
#blogSection .button-links
{
    margin-bottom: 50px;
}
#loginSection
{
    text-align: center;
    width: 55%;
    margin: auto;
}
#loginSection h1
{
    margin-top: 50px;
    margin-bottom: 50px;
}
#registerSection
{
    text-align: center;
    width: 55%;
    margin: auto;
}
#registerSection h1
{
    margin-top: 50px;
    margin-bottom: 50px;
}
#profilSection
{
    text-align: center;
    width: 55%;
    margin: auto;
}
#profilSection h1
{
    margin-top: 50px;
    margin-bottom: 50px;
}
#updatePasswordSection
{
    text-align: center;
    width: 55%;
    margin: auto;
}
#updatePasswordSection h1
{
    margin-top: 50px;
    margin-bottom: 50px;
}
#adminSection
{
    text-align: center;
    width: 55%;
    margin: auto;
}
#adminSection h1
{
    margin-top: 50px;
    margin-bottom: 50px;
}
#adminSection h2
{
    margin-top: 25px;
    margin-bottom: 25px;
}
#adminSection .newArticleButton
{
    margin-top: 25px;
    margin-bottom: 25px;
}
#addArticleSection
{
    text-align: center;
    width: 55%;
    margin: auto;
}
#addArticleSection h1
{
    margin-top: 50px;
    margin-bottom: 50px;
}
#addArticleSection textarea
{
    height: 200px;
}
#editArticleSection
{
    text-align: center;
    width: 55%;
    margin: auto;
}
#editArticleSection h1
{
    margin-top: 50px;
    margin-bottom: 50px;
}
#editArticleSection textarea
{
    height: 200px;
}
#articleSection
{
    text-align: center;
    width: 55%;
    margin: auto;
}
#articleSection h1
{
    margin-top: 50px;
    margin-bottom: 50px;
}
#articleSection textarea
{
    height: 200px;
}
#contactSection
{
    text-align: center;
    width: 55%;
    margin: auto;
}
#contactSection h1
{
    margin-top: 50px;
    margin-bottom: 50px;
}
#contactSection fieldset
{
    margin-bottom: 25px;
}
#contactSection textarea
{
    height: 200px;
}
#contactSection button
{
    margin-bottom: 25px;
}
#errorPage
{
    text-align: center;
    width: 55%;
    margin: auto;
}
#errorPage h1
{
    margin-top: 50px;
    margin-bottom: 50px;
}
#errorPage img
{
    width: 250px;
    height: 250px;
}
footer
{
    height: 120px;
    line-height: 120px;
    text-align: center;
    background-color: #2C3E50;
    color: white;
}
footer p
{
    margin-bottom: 0;
}