{% extends "base.html.twig" %}
{% block title %}Nouvel article{% endblock %}
{% block content %}
    <h1>Mon blog</h1>
    <p>En construction</p>
    <div>
        {% include 'form_article.html.twig' %}
        <a href="../public/index.php?route=homeBlog">Retour à l'accueil</a>
    </div>
{% endblock %}