<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
</head>
<body>
    <p>
        Bonjour,<br/>
        Un utilisateur de Quentin Sporn Blog vous a contacté via le formulaire de contact.<br/>
    </p>
    <p>Nom : {{ data.lastName }}</p>
    <p>Prénom : {{ data.firstName }}</p>
    <p>Mail : {{ data.mail }}</p>
    <p>Message : {{ data.message }}</p>
</body>
</html>