{% extends "base.html.twig" %}
{% block title %}Blog{% endblock %}
{% block content %}
    <section id="blogSection">
        <h1>Blog</h1>
        {% include 'messages.html.twig' %}
        <div class="button-links">
            {% if app.session.get('pseudo') %}
                <a href="../public/index.php?route=profile"><button type="button" class="btn btn-success">Profil</button></a>
                {% if app.session.get('role') == 'admin'  %}
                    <a href="../public/index.php?route=administration"><button type="button" class="btn btn-success">Administration</button></a>
                {% endif %}
                <a href="../public/index.php?route=logout"><button type="button" class="btn btn-danger">Déconnexion</button></a>
            {% else %}
                <a href="../public/index.php?route=register"><button type="button" class="btn btn-success">Inscription</button></a>
                <a href="../public/index.php?route=login"><button type="button" class="btn btn-success">Connexion</button></a>
            {% endif %}
        </div>
        {% for article in articles %}
            <div class="card text-white bg-secondary">
                <div class="card-header"><h2><a href="../public/index.php?route=article&articleId={{ article.getId }}">{{ article.getTitle }}</a></h2></div>
                <p>{{ article.getHead|slice(0, 200) }}...</p>
                <p>Mis à jours le : {{ article.getUpdatedAt|date('d/m/Y à H:i:s') }}</p>
            </div>
            <br/>
        {% endfor %}
    </section>
{% endblock %}
