{% extends "base.html.twig" %}
{% block title %}Mon profil{% endblock %}
{% block content %}
    <h1>Mon blog</h1>
    <p>En construction</p>
    {% include 'messages.html.twig' %}
    <div>
        <h2>{{ app.session.get('pseudo') }}</h2>
        <p>{{ app.session.get('id') }}</p>
        <a href="../public/index.php?route=updatePassword">Modifier son mot de passe</a>
        <a href="../public/index.php?route=deleteAccount">Supprimer mon compte</a>
    </div>
    <br/>
    <a href="../public/index.php?route=homeBlog">Retour à l'accueil</a>
{% endblock %}