{% extends "base.html.twig" %}
{% block title %}Inscription{% endblock %}
{% block content %}
    <h1>Mon blog</h1>
    <p>En construction</p>
    <div>
        <form method="post" action="../public/index.php?route=register">
            <label for="pseudo">Pseudo</label><br>
            <input type="text" id="pseudo" name="pseudo" value="{{ post.get('pseudo') }}"><br/>
            {% if errors.pseudo %}
                <p>{{ errors.pseudo }}</p>
            {% endif %}
            <label for="password">Mot de passe</label><br>
            <input type="password" id="password" name="password"><br/>
            {% if errors.password %}
                <p>{{ errors.password }}</p>
            {% endif %}
            <input type="submit" value="Inscription" id="submit" name="submit">
        </form>
        <a href="../public/index.php">Retour à l'accueil</a>
    </div>
{% endblock %}
