{% extends "base.html.twig" %}
{% block title %}Blog | Modification de mot de passe{% endblock %}
{% block content %}
    <section id="updatePasswordSection">
        <h1>Modification de mot de passe</h1>
        <div>
            <p>Le mot de passe de {{ app.session.get('pseudo') }} sera modifié</p>
            <form method="post" action="../public/index.php?route=updatePassword">
                <div class="form-group">
                    <label for="password">Mot de passe *</label><br>
                    <input type="password" class="form-control" id="password" name="password" /><br/>
                </div>
                <p>Les champs marqués d'une * sont obligatoires</p>
                <input type="submit" value="Mettre à jour" id="submit" name="submit" class="btn btn-success">
            </form>
        </div>
        <br/>
        <a href="../public/index.php?route=homeBlog" class="btn btn-secondary">Retour à l'accueil</a>
    </section>
{% endblock %}

